html {
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

img {
    width: 100%;
}

body {
    background-color: $white;
}

.container {
    width: 100%;
    max-width: $deskto1;
    margin: 0 auto;
}

.image {
    margin-top: 4rem;
    width: 100%;
    h1 {
        font-family: $playfair_display;
        font-weight: 700;
        font-size: 48px;
        color: $black;
    }
    .paragraph {
        display: flex;
        margin: -2rem 0 2rem 0;
        align-items: flex-start;
        width: 45%;
        .drag {
            margin-top: 0.8rem;
            margin-right: 0.6rem;
            transform: rotate(90deg);
            color: #c4c4c4;
        }
        p {
            font-family: $montserrat;
            font-weight: 500;
            font-style: italic;
            font-size: 14px;
            color: $gray;
        }
    }
    img {
        width: 100%;
        height: 10%;
        border-radius: 12px;
    }
}

section {
    margin-top: 2.5rem;
    width: 100%;
    display: flex;
    .box-left {
        width: 40%;
        .title {
            font-family: $playfair_display;
            font-weight: 700;
            font-size: 24px;
            color: $gray1;
            margin-bottom: 1rem;
        }
        .subtitle {
            font-family: $playfair_display;
            font-weight: 400;
            font-style: italic;
            font-size: 18px;
            color: $gray1;
            margin: 3rem 0 2rem 0;
        }
        .subtitle2 {
            margin: 2rem 0 2.5rem 0;
        }
        .container {
            .box {
                display: flex;
                align-items: center;
                margin: 1rem 0;
                .cube {
                    position: absolute;
                    width: 21px;
                    align-self: flex-start;
                    height: 21px;
                    border: 1px solid #828282;
                    border-radius: 4px;
                }
                p {
                    font-family: $montserrat;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 16px;
                    color: $black2;
                    margin-top: -0.1rem;
                    margin-left: 2.5rem;
                    span {
                        font-weight: 700;
                    }
                    .bold-light {
                        font-weight: 500;
                        font-style: italic;
                    }
                }
            }
        }
    }
    .box-right {
        width: 60%;
        .container {
            margin-top: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            float: right;
            width: 216px;
            height: 367px;
            border-radius: 12px;
            background-color: $white;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
            .info {
                width: 80%;
                display: flex;
                align-items: center;
                margin: 0.2rem auto;
                span {
                    color: $gray;
                    margin-right: 1rem;
                    font-size: 30px;
                }
                .box {
                    .title {
                        font-family: $montserrat;
                        font-weight: 700;
                        font-size: 10px;
                        color: $gray3;
                        text-transform: uppercase;
                    }
                    .subtitle {
                        font-family: $montserrat;
                        font-weight: 500;
                        font-size: 14px;
                        color: $black2;
                    }
                }
                .select {
                    color: $orange;
                }
            }
        }
    }
}

.instructions {
    margin-top: -1.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    .title {
        font-family: $playfair_display;
        font-weight: 700;
        font-size: 24px;
        color: $black2;
    }
    .information {
        width: 40%;
        .instruction {
            display: flex;
            align-items: flex-start;
            .box {
                width: 36px;
                height: 36px;
                border-radius: 6px;
                background-color: $orange;
                position: absolute;
                text-align: center;
                color: $white;
                margin-top: 1rem;
                font-family: $playfair_display;
                font-weight: 700;
                font-size: 24px;
            }
            p {
                font-family: $montserrat;
                font-weight: 400;
                font-size: 16px;
                margin-left: 3rem;
                color: $black2;
                span {
                    font-weight: 700;
                }
            }
        }
    }
    .source {
        margin-top: 3rem;
        p {
            font-family: $montserrat;
            font-weight: 400;
            font-style: italic;
            font-size: 16px;
            color: $gray3;
        }
    }
}

footer {
    margin: 8rem 0 2rem 0;
    text-align: center;
    p {
        font-family: $montserrat;
        font-weight: 600;
        font-size: 14px;
        color: $gray4;
        a {
            color: $orange;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}


@media screen and (max-width: $deskto2) {
    .container {
        width: 80%;
    }
    .image {
        .paragraph {
            width: 60%;
        }
    }
    section {
        .box-left {
            width: 70%;
            .container {
                margin-left: 0rem;
            }
        }
        .box-right {
            width: 30%;
        }
    }
    .instructions {
        .information {
            width: 53%;
        }
    }
}

@media screen and (max-width: $deskto3) {
    .container {
        width: 90%;
    }
    .image {
        .paragraph {
            width: 60%;
        }
    }
    .instructions {
        .information {
            width: 62%;
        }
    }
}

@media screen and (max-width: $mobile ) and (min-width: $mobile) {
    .container {
        width: 95%;
    }
    .image{
        margin-top: 1.5rem;
        h1 {
            font-size: 24px;
        }
        .paragraph {
            width: 100%;
            margin: -1rem 0 1rem 0;
            line-height: 1rem;
            p {
                font-size: 12px;
            }
        }
    }
    section {
        flex-direction: column-reverse;
        .box-left {
        }
        .box-right {
            margin-top: -1.5rem;
            width: 100%;
            .container {
                width: 100%;
                margin: 0;
                padding: 0;
                flex-direction: row;
                flex-wrap: wrap;
                height: 100px;
                border-radius: 0;
                box-shadow: none;
                .info {
                    margin: 0.2rem 0;
                    width: 33%;
                    span {
                        margin-right: 0.3rem;
                        font-size: 24px;
                    }
                    .box {
                        .title {
                            font-size: 8px;
                        }
                        .subtitle {
                            margin-top: -0.5rem;
                            font-size: 10px;
                        }
                    }
                }
                .special {
                    width: 100%;
                }
            }
        }
    }
}